*{
    margin: 0px;
    padding: 0px;
}


header, footer{
    height: 60px;
    background-color: darkviolet;
    color: aliceblue;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    align-items: center ;
}

body{
    background-color: thistle;
}