.pequenocard-container{
    display: flex;
    align-items: center;
    padding: 20px 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    height: 100px;

}

.pequenocard-container>div>img{
    width: 30px;
}

.pequenocard-container> div{
    display: inline;
}